{% load static %}

{% include 'header.html' %}

			<div class="hero" data-bg-image="">
				<div class="container">
					<form class="find-location" method="POST">
						{% csrf_token %}
						<input type="text" name="city" placeholder="şəhər, rayon, ve b. ...">
						<input type="submit" value="Axtar">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">{{ city_weather.weekday1 }}</div>
								<div class="date">{{ city_weather.date | date:'d M Y / H:i' }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{ city_weather.city }}</div>
								<div class="degree">
									<div class="num">{{ city_weather.temperature1 }}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="http://openweathermap.org/img/w/{{ city_weather.icon0 }}.png" alt="" width=100>
									</div>	
								</div>
								<span><img src="{% static 'images/logo.png' %}" alt="" width="30px">{{ city_weather.clouds }}%</span>
								<span><img src="{% static 'images/icon-wind.png' %}" alt="">{{ city_weather.wind }}m/s</span>
								<span><img src="{% static 'images/icon-compass.png' %}" alt="">
									{% if city_weather.wind_dir == 0 or city_weather.wind_dir == 90 %}
									Şimal
									{% elif city_weather.wind_dir > 0 and city_weather.wind_dir < 90 %}
									Şimal-Şərq
									{% elif city_weather.wind_dir == 90 %}
									Şərq
									{% elif city_weather.wind_dir > 90 and city_weather.wind_dir < 180 %}
									Cənub-Şərq
									{% elif city_weather.wind_dir == 180 %}
									Cənub
									{% elif city_weather.wind_dir > 180 and city_weather.wind_dir < 270 %}
									Cənub-Qərb
									{% elif city_weather.wind_dir == 270 %}
									Qərb
									{% elif city_weather.wind_dir > 270 and city_weather.wind_dir < 360 %}
									Şimal-Qərb
									{% endif %}
								</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ city_weather.weekday2 }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="http://openweathermap.org/img/w/{{ city_weather.icon1 }}.png" alt="" width=48>
								</div>
								<div class="degree">{{ city_weather.temperature2 }} <sup>o</sup>C</div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ city_weather.weekday3 }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="http://openweathermap.org/img/w/{{ city_weather.icon2 }}.png" alt="" width=48>
								</div>
								<div class="degree">{{ city_weather.temperature3 }} <sup>o</sup>C</div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ city_weather.weekday4 }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="http://openweathermap.org/img/w/{{ city_weather.icon3 }}.png" alt="" width=48>
								</div>
								<div class="degree">{{ city_weather.temperature4 }} <sup>o</sup>C</div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ city_weather.weekday5 }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="http://openweathermap.org/img/w/{{ city_weather.icon4 }}.png" alt="" width=48>
								</div>
								<div class="degree">{{ city_weather.temperature5 }} <sup>o</sup>C</div>
							</div>
						</div>


					</div>
				</div>
			</div>
			
{% include 'footer.html' %}